*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    color: purple;
    margin: 0 15px;
}

.heading {
    display: flex;
    justify-content: center;
}

.question-style {
    text-align: left;
}

.text-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-content button {
    margin: 0 auto;
}

.btn {
    width: fit-content;
    height: 35px;
    border: 2px solid purple;
    border-radius: 10px;
    background-color: rebeccapurple;
    opacity: 0.85;
    color: white;
    font-size: 1rem;
    box-shadow: 0 3px 3px rebeccapurple;
    outline: none;
}

.highScoreBtn {
    margin: 10px;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    transform: translateY(2px);
}

.btn-group {
    display: flex;
    flex-direction: column;
    height: 13vh;
    justify-content: space-between;
}

.text-flash-container {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.4);
    opacity: 0.4;
    margin-top: 10px;
}

.text-flash-container p {
    margin: 5px;
}

.ansBtn {
    box-shadow: none;
}

#finalScore {
    margin: 0 auto;
}

.textField {
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    margin: 0 20px;
}

.nameDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid purple;
    border-collapse: collapse;
    width: 30%;
    padding: 5px;
}

.hide {
    display: none;
}